################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/DepremsizHayat/v16/
*.cache
bin/Debug/
obj/Debug/