
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/css/editprofile.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/js/registerComponents.js"></script>
}
<div class="flex h-center">
    <div class="container">
        <div class="white-box">
            <div class="top-header align-left p15">Profilimi Düzenle</div>
            <div class="align-center fs-14 p15">Adınızı Soyadınızı Düzenleyin</div>
            <div class="flex h-stretch-100 pb15 pl15 pr15">
                <input class="input one mr7" name="newName"/>
                <input class="input one ml7" name="newSurname"/>
            </div>
            <div class="align-center fs-14 pb15 pr15 pl15">Şifrenizi Düzenleyin</div>
            <div class="flex h-stretch-100 pb15 pl15 pr15">
                <div class="mr7"><input class="input one" type="password" name="oldPassword" placeholder="Eski Şifreniz" /></div>
                <div class="ml7"><form-input valid-type="password" name="newPassword" placeholder="Yeni Şifreniz"></form-input></div>
            </div>
            <div class="info-boxes error mr15 ml15 mb15 none json" id="registerJsonError"></div>
            <div class="align-center pb15 pl15 pr15">
                <button id="register" class="btn btn-main btn-blue spinner">
                    <span class="spinner"></span>Kaydol
                </button>
            </div>
        </div>
    </div>
</div>

<input type="text" id="name">
<input type="text" id="surname">
<button id="send" onclick="ajax()">Gönder</button>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script>
    function ajax() {
        var name = $("#name").val();
        var surname = $("#surname").val();
        var data = {
            Name: name,
            Surname: surname
        };
        $.ajax({
            data: data,
            url: "EditProfile",
            type: "POST",
            success: function (data) {
                debugger;
                alert(data.Message);
            }
        })
    }

</script>
@{
    if (ViewBag.Response != null)
    {
        <h1>ViewBag.Response.Message</h1>
    }
}
