@{
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}
@using DepremsizHayat.DataAccess;
@{
    ViewBag.Title = "Home Page";
}
@*<h1>@Model.FIRST_NAME @Model.LAST_NAME</h1>*@
<a href="/Account/LogOut">Çıkış yap</a>