@{
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}
@section styles{
    <link href="~/Content/css/analyserequest.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/js/analyseRequestControl.js"></script>
}

@{
    ViewBag.Title = "SendAnalyseRequest";
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}
<div class="flex h-center" id="sendnewrequest">
    <div class="container">
        <div class="white-box">
            <div class="top-header align-left p15">Talep Oluştur</div>
            <div class="p15">
                <div class="align-center mb15"><button id="addImageButton" class="btn btn-main bg-green tx-white"><i class="fas fa-plus-circle mr7"></i> Resim Ekleyin</button><input type="file" id="imageInput" class="hidden" multiple="multiple" /></div>
                <div class="imagesBox mb15 p5 hidden">
                    <div></div>
                </div>
                <div class="mb15"><input type="text" class="input one" id="phone1" placeholder="Telefon Numaranız" /></div>
                <div class="mb15"><input type="text" class="input one" id="phone2" placeholder="Diğer Telefon Numaranız" /></div>
                <div class="flex h-stretch-100 mb15">
                    <div class="mr7">
                        <div class="mb10 ml10 fs-14 tx-gray">Yapım Yılı</div>
                        <select id="year" class="select one w-100 pl10"><option>Seçiniz</option></select>
                    </div>
                    <div class="ml7">
                        <div class="mb10 ml10 fs-14 tx-gray">Kat Sayısı</div>
                        <select id="floor" class="select one w-100 pl10"><option>Seçiniz</option></select>
                    </div>
                </div>
                <div class="flex h-stretch-100 mb15">
                    <div class="mr7">
                        <div class="mb10 ml10 fs-14 tx-gray">Ülke</div>
                        <select id="country" class="select one w-100 pl10"><option>Türkiye</option></select>
                    </div>
                    <div class="ml7">
                        <div class="mb10 ml10 fs-14 tx-gray">Şehir</div>
                        <select id="district" class="select one w-100 pl10"><option>Seçiniz</option></select>
                    </div>
                </div>
                <div><textarea class="input textarea" id="address" placeholder="Adres"></textarea></div>
            </div>
            <div class="align-center pb15 pl15 pr15">
                <button id="request" class="btn btn-main btn-blue spinner">
                    <span class="spinner"></span>Talebi Gönder
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    let imgButton = document.querySelector("#addImageButton")
    let imageInput = document.querySelector("#imageInput")

    imgButton.addEventListener("click", function () { imageInput.click() })


    function imageGet(event) {
        if (window.File && window.FileList && window.FileReader) {
            if (event.target.files) {
                let files = Array.from(event.target.files)
                let imageFiles = files.filter(images => images.type.match("image"))
                if (files.filter(images => !images.type.match("image")).length == 0) {
                    if (imageFiles.length <= 10) {
                        if (imageFiles.length == 0) {
                            document.querySelector(".imagesBox").classList.add("hidden")
                            imgButton.innerHTML = `<i class="fas fa-plus-circle mr7"></i> Resim Ekleyin`
                        }
                        else {
                            document.querySelector(".imagesBox").classList.remove("hidden")
                            imgButton.innerHTML = `<i class="fas fa-sync-alt mr7"></i> Resimleri Değiştir`
                        }
                        document.querySelector(".imagesBox>div").innerHTML = ""
                        imageFiles.forEach(image => {
                            let reader = new FileReader()
                            reader.onload = function (event) {
                                let imageElement = document.createElement("img")
                                imageElement.src = reader.result
                                document.querySelector(".imagesBox>div").appendChild(imageElement)
                            }
                            reader.readAsDataURL(image);
                        })
                    } else {
                        alert("Maksimum 10 resim seçebilirsiniz.")
                    }
                } else {
                    alert("Sadece Resim seçebilirsiniz.")
                    event.target.value = null
                }
            }
        }
    }
    imageInput.addEventListener("change", imageGet)

</script>

<script>
    let requestButton = document.querySelector("#request")
    requestButton.addEventListener("click", function (event) {
        let phone1 = document.querySelector("#phone1").value
        let phone2 = document.querySelector("#phone2").value
        let year = document.querySelector("#year").value
        let floor = document.querySelector("#floor").value
        let country = document.querySelector("#year").value
        let district = document.querySelector("#district").value
        let address = document.querySelector("#address").value
        let images = document.querySelector("#imageInput")

        let sendingFiles = new FormData()
        sendingFiles.append("phone1",phone1)
        sendingFiles.append("phone2",phone2)
        sendingFiles.append("year",year)
        sendingFiles.append("floor",floor)
        sendingFiles.append("country",country)
        sendingFiles.append("district",district)
        sendingFiles.append("images", images)
        sendingFiles.append("address", address)


        $.ajax({
            url: "/Home/SendAnalyseRequest",
            type: "POST",
            processData: false,
            contentType:false,
            data: sendingFiles,
            success: function () {
                debugger;
            },
            error: function () {
                debugger;
            }
        })
    })
</script>