
@{
    ViewBag.Title = "MyRequests";
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}

@using DepremsizHayat.DataAccess;
@model List<ANALYSE_REQUEST>
<div class="flex h-center">
    <div id="my-request-loading" class="full-page flex h-center v-center hidden">
        <div class="free-spinner"></div>
    </div>
    <div class="container"></div>
</div>



<style>
    .container {
        width: 100%;
        max-width: 750px;
    }

    .free-spinner {
        border-width: 3px;
        border-style: solid;
        border-color: var(--color-blue) var(--color-blue) var(--color-blue) transparent;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        -webkit-animation: spin .7s linear infinite;
        -moz-animation: spin .7s linear infinite;
        -ms-animation: spin .7s linear infinite;
        -o-animation: spin .7s linear infinite;
        animation: spin .7s linear infinite;
    }


    .request-box {
        margin: 0px !important;
        padding: 5px;
    }

        .request-box:not(:last-child) {
            margin-bottom: 10px !important;
        }

        .request-box .status {
            font-size: 12px;
            font-weight: bold;
            text-align: right;
            padding: 3px 10px;
            color: white;
            border-radius: 5px;
        }

            .request-box .status.green {
                background-color: var(--color-green)
            }

            .request-box .status.yellow {
                background-color: var(--color-yellow)
            }

            .request-box .status.red {
                background-color: rgb(255, 245, 245);
                color: var(--color-red)
            }

        .request-box .line {
            background-color: rgb(250,250,250);
            border-radius: 5px;
            border: 1px solid var(--color-hover-gray)
        }

            .request-box .line > div:not(:last-of-type) {
                border-bottom: 1px solid var(--color-hover-gray)
            }

            .request-box .line > div > div:not(:first-child) {
                border-left: 1px solid var(--color-hover-gray)
            }

    .request-btn {
        border-radius: 5px;
        background-color: rgb(235,235,235);
        color: rgb(50,50,50);
        font-size: 14px;
        border: 0px;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        outline: none
    }

        .request-btn:hover {
            background-color: rgb(230,230,230);
        }

        .request-btn:active {
            background-color: rgb(225,225,225);
        }

    .request-button-container {
        text-align: right;
    }

    .seperator {
        height: 5px;
        background-color: rgb(230,230,230);
        border-radius: 5px;
        width: calc(100% - 40px);
        margin: 20px;
    }

    @@media only screen and (max-width:500px) {
        .request-button-container {
            text-align: right;
        }

            .request-button-container button {
                width: 100%;
            }
    }
</style>

<script>

    getMyRequest(1)

    function getMyRequest(page) {
        $.ajax({
            url: "/Home/MyRequests_",
            contentType: false,
            type: "POST",
            beforeSend: function () {
                document.querySelector("#my-request-loading").classList.remove("hidden")
            },
            success: function (data) {
                var length = data.length
                document.querySelector("#my-request-loading").classList.add("hidden")
                if (data.length == 0) {
                    document.querySelector(".container").innerHTML =
                        `
                        <div class="align-center b fs-14 mb10">Henüz bir talepte bulunmamışsınız.</div>
                        <div class="align-center"><button id="go-to-request" class="btn btn-main btn-blue">Talep Oluştur</button></div>
                    `
                    document.querySelector("#go-to-request").addEventListener("click", function () {
                        window.location = "/Home/Index"
                    })
                }
                data.forEach((data, index) => {

                    let color = ""
                    if (data.STATUS_NAME == "Uzman Onayı Bekliyor") {
                        color = "green"
                    } else if (data.STATUS_NAME == "Reddedildi") {
                        color = "red"
                    }
                    else if (data.STATUS_NAME == "Onay Bekliyor") {
                        color = "yellow"
                    }
                    var requestBox =
                        `
                        <div class="request-box fs-14 white-box">
                            <div class="p5">
                                <div class="status ${color}">${data.STATUS_NAME}</div>

                                <div class="line mt10">
                                    <div class="flex h-stretch-100"><div class="p7"><b>Ülke: </b>${data.COUNTRY}</div> <div class="p7"><b> Şehir: </b>${data.DISTRICT}</div></div>
                                    <div class="p7"><b>Adres: </b>${data.ADDRESS}</div>
                                </div>

                                <div class="line mt10">
                                    <div class="flex h-stretch-100"><div class="p7"><b>Bina Kat Sayısı: </b>${data.NUMBER_OF_FLOORS}</div> <div class="p7"><b>Bina Yapım Yılı: </b>${data.YEAR_OF_CONSTRUCTION}</div></div>
                                </div>
                                <div class="request-button-container mt10"><button data-request-id="${data.ANALYSIS_REQUEST_ID}" class="request-btn">Daha Fazla Bilgi</button></div>
                            </div>
                        </div>
                    `
                    if (length > 1 && index < length - 1) requestBox += `<div class="seperator"></div>`
                    document.querySelector(".container").innerHTML += requestBox
                })
                Array.from(document.querySelectorAll(".request-btn")).forEach(item => {
                    item.addEventListener("click", function () { getMyRequestDetail(item.dataset.requestId) })
                })

            },
            error: function () {
                document.querySelector(".container").innerHTML = `<div class="align-center tx-red">Talebleriniz gösterilirken bir hata oluştu.<div>`
            }
        })
    }

    function getMyRequestDetail(dataRequestId) {
        let template = document.createElement("template")
        template.innerHTML = dataRequestId
        Prompt.show(template)
    }


</script>
<script src="~/Content/js/prompt.js"></script>