
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/pagenotfound.css" rel="stylesheet" />
</head>
<body>
    <div class="full-page flex v-center h-center direction-column">
        <div class="tx-blue fs-18 brand">DEPREMSİZ HAYAT</div>
        <div class="b int tx-blue">404</div>
        <div class="fs-18 tx-blue">Aradığınız sayfa bulunamadı.</div>
        <a href="Index" class="link btn btn-main goToHome tx-blue">Ana Sayfaya Gidin</a>
    </div>
</body>
</html>
