@if (ViewBag.Response != null)
{
    if (ViewBag.Response.Message.Count > 0)
    {
        if (ViewBag.Response.Status)
        {
            <div class="info-boxes success ml15 mr15 mb15">
                @for (int i = 0; i < ViewBag.Message.Count; i++)
                {
                    <div>@ViewBag.Message[i]</div>
                }
            </div>
        }
        else
        {
            <div class="info-boxes error ml15 mr15 mb15">
                @for (int i = 0; i < ViewBag.Message.Count; i++)
                {
                    <div>@ViewBag.Message[i]</div>
                }
            </div>
        }
    }
}