
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Account/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/css/login.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/js/loginControl.js"></script>
}
<div class="flex h-center">
    <div class="container">
        <div id="imageWithText">
            <div class="tx-gray fs-14">#depremsizhayat</div>
            <div>HEP BİRLİKTE<br>DEPREMSİZ BİR HAYATA</div>
        </div>
        <div class="white-box">
            <div class="top-header align-left p15">Giriş Yap</div>
            <div class="p15"><input type="text" class="input one" id="email" placeholder="E-Mailiniz"></div>
            <div class="pr15 pl15 pb15"><input type="password" class="input one" id="password" placeholder="Şifreniz"></div>
            @Html.Partial("Shared/_StatusPartial")
            <div class="info-boxes error mr15 ml15 mb15 none json" id="loginJsonError">
            </div>
            <div class="align-center pb10">
                <button id="loginButton" class="btn btn-main btn-blue spinner">
                    <span class="spinner"></span>Giriş Yap
                </button>
            </div>
            <div class="fs-12 tx-gray b align-center pb10"><a href="ForgotPassword" class="link">Şifremi Unuttum</a></div>
        </div>
        <div class="fs-12 align-center tx-gray mt15">v0.3</div>
    </div>
</div>
<!--<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DepremsizHayat | Yönetici Paneli</title>

    <!-- Google Font: Source Sans Pro -->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">-->
<!-- Font Awesome -->
<!--<link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">-->
<!-- icheck bootstrap -->
<!--<link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">-->
<!-- Theme style -->
<!--<link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">-->
<!-- /.login-logo -->
<!--<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a href="~/Content/index2.html" class="h1"><b>Depremsiz</b>Hayat</a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Oturumunuzu başlatmak için giriş yapın</p>


            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">-->
@*<div class="icheck-primary">
        <input type="checkbox" id="remember">
        <label for="remember">
            Remember Me
        </label>
    </div>*@
<!--</div>-->
<!-- /.col -->
<!--<div class="col-4">-->
@*<button id="loginButton" class="btn btn-main btn-blue spinner">
        <span class="spinner"></span>Giriş Yap
    </button>*@
<!--<button id="loginButton" class="btn btn-primary btn-block spinner"><span class="spinner"></span>Giriş Yap</button>
</div>-->
<!-- /.col -->
<!--</div>-->
@*<div class="social-auth-links text-center mt-2 mb-3">
        <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
    </div>-->*@
<!--<!-- /.social-auth-links -->
<!--<p class="mb-1">
    <a href="/Account/ForgotPassword">Şifremi unuttum</a>
</p>-->
@*<p class="mb-0">
        <a href="register.html" class="text-center">Register a new membership</a>
    </p>
            </div>-->*@
<!-- /.card-body -->
<!--</div>-->
<!-- /.card -->
<!--</div>-->
<!-- /.login-box -->
<!-- jQuery -->
<!--<script src="~/Content/plugins/jquery/jquery.min.js"></script>-->
<!-- Bootstrap 4 -->
<!--<script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!-- AdminLTE App -->
<!--<script src="~/Content/dist/js/adminlte.min.js"></script>
</body>
</html>-->
