@using DepremsizHayat.DataAccess;
@model List<ANALYSE_REQUEST>

<table>
    @if (Model != null)
    {
        foreach (ANALYSE_REQUEST aNALYSE in Model)
        {
            <tr>
                <td>
                    @aNALYSE.NUMBER_OF_FLOORS
                </td>
                <td>
                    @aNALYSE.PHONE_NUMBER_1
                </td>
                <td>
                    @aNALYSE.PHONE_NUMBER_2
                </td>

            </tr>
        }
    }

</table>