<!DOCTYPE html>
<html dir="ltr" lang="tr">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700|Playfair+Display:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />

    <!-- One Page Module Specific Stylesheet -->
    <link rel="stylesheet" href="~/Content/onepage.css" type="text/css" />
    <!-- / -->

    <link rel="stylesheet" href="~/Content/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/et-line.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/newmain.css" type="text/css" />

    <link rel="stylesheet" href="~/Content/css/fonts.css" type="text/css" />

    <link rel="stylesheet" href="~/Content/css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
    </style>

    <!-- Document Title
    ============================================= -->
    <title>Depremsiz Hayat - Ücretsiz Deprem Analiz Raporu</title>

    <style>
        .small-video-button {
            width: 54px;
            height: 54px;
            line-height: 54px;
            font-size: 22px;
        }
    </style>

</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header" class="full-header border-full-header transparent-header dark static-sticky" style="background-color: rgba(255,255,255,0.4);" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="/Home/Index" class="standard-logo" data-dark-logo="/Content/images/canvasone-dark.png"><img src="~/Content/images/canvasone.png" alt="Canvas Logo"></a>
                        <a href="/Home/Index" class="retina-logo" data-dark-logo="/Content/images/canvasone-dark@2x.png"><img src="~/Content/images/canvasone@2x.png" alt="Canvas Logo"></a>
                    </div><!-- #logo end -->
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                            <li><a href="#" data-href="#wrapper"><div>ANA SAYFA</div></a></li>
                            <li><a href="#" data-href="#section-services"><div>BİZ KİMİZ</div></a></li>
                            <li><a href="#" data-href="#section-about"><div>EKİBİMİZ</div></a></li>
                            <li><a href="http://app.depremsizhayat.com" target="_blank"><div>ÜCRETSİZ DEPREM ANALİZİ</div></a></li>
                            <li><a href="#" data-href="#section-contact"><div>İLETİŞİM</div></a></li>
                        </ul>

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->
        <!-- Slider
        ============================================= -->
        <section id="slider" class="full-screen slider-parallax">

            <div class="full-screen section nopadding nomargin noborder ohidden" style="background: url('/Content/images/bg.jpg') bottom center no-repeat; background-size: cover;">

                <div class="container dark">
                    <div class="vertical-middle">

                        <div class="emphasis-title nobottommargin">
                            <h1 class="t700 uppercase ls3 bottommargin-sm" style="font-family: 'Ubuntu', sans-serif;">
                                Hep bİrlİkte <br><span class="text-rotater nocolor" data-separator="|" data-rotate="fadeInLeft" data-speed="4000">
                                    <span style="font-family: 'Playfair Display'; font-style: italic; text-transform: lowercase; color: #FFF;" class="t-rotate">Depremsİz|Huzurlu|Güvenli</span></br>
                                    <span style="font-family: 'Ubuntu', sans-serif;">Bİr Hayata</span>
                                </span>
                            </h1>

                        </div>

                    </div>
                </div>

                <a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

            </div>

        </section><!-- #slider end -->
        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap nopadding">

                <h2 class="divcenter bottommargin font-body" style="max-width: 700px; font-size: 40px; text-align: center; margin-top: 100px;">Deprem Değil İhmal Öldürür</h2>


                <div class="center page-section">

                    <div class="container clearfix">

                        <p class="lead divcenter bottommargin" style="max-width: 800px; text-align: center;">Son 58 yıl içerisinde depremlerden, 58.202 vatandaşımız hayatını kaybetmiş, 122.096 kişi yaralanmış ve yaklaşık olarak 411.465 bina yıkılmış veya ağır hasar görmüştür.</p>

                        <!-- <p class="bottommargin" style="font-size: 16px; margin-bottom: 50px !important;"><a href="#" data-scrollto="#section-services" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="more-link">Learn more <i class="icon-angle-right"></i></a></p> -->

                        <h3 style="margin-top:50px !important; text-align: center;"> <span class="point"></span>Türkiye'de Son 10 Deprem</h3>

                        <div id="last-earthquakes">
                            <div class="spinner"></div>
                            <table class="earthquakes-table hidden">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>



                        <div id="section-about" style="height: 80px !important; margin-top: 20px !important;"></div>


                        <h2>EKİBİMİZ</h2>
                        <hr>


                        <div class="row topmargin-lg divcenter" style="max-width: 1000px;">

                            <div class="col-sm-3 bottommargin">

                                <div class="team">
                                    <div class="team-image">
                                        <img src="~/Content/images/ekips/rdvnnl.jpg" alt="Rıdvan Önal">
                                        <div class="team-overlay">
                                            <div class="team-social-icons">
                                                <a href="#" class="social-icon si-borderless si-small si-facebook" title="Facebook">
                                                    <i class="icon-facebook"></i>
                                                    <i class="icon-facebook"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                                                    <i class="icon-twitter"></i>
                                                    <i class="icon-twitter"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-github" title="Github">
                                                    <i class="icon-github"></i>
                                                    <i class="icon-github"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-desc team-desc-bg">
                                        <div class="team-title"><h4>Rıdvan Önal</h4><span>Front-End Developer</span></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-3 bottommargin">

                                <div class="team">
                                    <div class="team-image">
                                        <img src="~/Content/images/ekips/zynpogk.jpg" alt="Zeynep Dalkılıç">
                                        <div class="team-overlay">
                                            <div class="team-social-icons">
                                                <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                                                    <i class="icon-twitter"></i>
                                                    <i class="icon-twitter"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-vimeo" title="Vimeo">
                                                    <i class="icon-vimeo"></i>
                                                    <i class="icon-vimeo"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-instagram" title="Instagram">
                                                    <i class="icon-instagram"></i>
                                                    <i class="icon-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-desc team-desc-bg">
                                        <div class="team-title"><h4>Zeynep Dalkılıç</h4><span>Front-End Developer</span></div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-3 bottommargin">

                                <div class="team">
                                    <div class="team-image">
                                        <img src="~/Content/images/ekips/yigit.jpeg" alt="Yiğit GÖK">
                                        <div class="team-overlay">
                                            <div class="team-social-icons">
                                                <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                                                    <i class="icon-twitter"></i>
                                                    <i class="icon-twitter"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-vimeo" title="Vimeo">
                                                    <i class="icon-vimeo"></i>
                                                    <i class="icon-vimeo"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-instagram" title="Instagram">
                                                    <i class="icon-instagram"></i>
                                                    <i class="icon-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-desc team-desc-bg">
                                        <div class="team-title"><h4>YİĞİT GÖK</h4><span>Back-End Developer</span></div>
                                    </div>
                                </div>

                            </div>





                            <div class="col-sm-3 bottommargin">

                                <div class="team">
                                    <div class="team-image">
                                        <img src="~/Content/images/ekips/taylan.jpg" alt="Taylan Yıldız">
                                        <div class="team-overlay">
                                            <div class="team-social-icons">
                                                <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                                                    <i class="icon-twitter"></i>
                                                    <i class="icon-twitter"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-vimeo" title="Vimeo">
                                                    <i class="icon-vimeo"></i>
                                                    <i class="icon-vimeo"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-instagram" title="Instagram">
                                                    <i class="icon-instagram"></i>
                                                    <i class="icon-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-desc team-desc-bg">
                                        <div class="team-title"><h4>Taylan Yıldız</h4><span>Back-End Developer</span></div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-3 bottommargin">

                                <div class="team">
                                    <div class="team-image">
                                        <img src="~/Content/images/ekips/hasan.jpg" alt="Hasan Zeybek">
                                        <div class="team-overlay">
                                            <div class="team-social-icons">
                                                <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                                                    <i class="icon-twitter"></i>
                                                    <i class="icon-twitter"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-vimeo" title="Vimeo">
                                                    <i class="icon-vimeo"></i>
                                                    <i class="icon-vimeo"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-instagram" title="Instagram">
                                                    <i class="icon-instagram"></i>
                                                    <i class="icon-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-desc team-desc-bg">
                                        <div class="team-title"><h4>Hasan Zeybek</h4><span>Back-End Developer</span></div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-3 bottommargin">

                                <div class="team">
                                    <div class="team-image">
                                        <img src="~/Content/images/ekips/zynpogk.jpg" alt="Sıla Dökme">
                                        <div class="team-overlay">
                                            <div class="team-social-icons">
                                                <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                                                    <i class="icon-twitter"></i>
                                                    <i class="icon-twitter"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-vimeo" title="Vimeo">
                                                    <i class="icon-vimeo"></i>
                                                    <i class="icon-vimeo"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-instagram" title="Instagram">
                                                    <i class="icon-instagram"></i>
                                                    <i class="icon-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-desc team-desc-bg">
                                        <div class="team-title"><h4>Sıla Dökme</h4><span>Database Developer</span></div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-3 bottommargin">

                                <div class="team">
                                    <div class="team-image">
                                        <img src="~/Content/images/ekips/ufuk.png" alt="Ufuk Doğan">
                                        <div class="team-overlay">
                                            <div class="team-social-icons">
                                                <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                                                    <i class="icon-twitter"></i>
                                                    <i class="icon-twitter"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-vimeo" title="Vimeo">
                                                    <i class="icon-vimeo"></i>
                                                    <i class="icon-vimeo"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-instagram" title="Instagram">
                                                    <i class="icon-instagram"></i>
                                                    <i class="icon-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-desc team-desc-bg">
                                        <div class="team-title"><h4>Ufuk Doğan</h4><span>Database Developer</span></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-3 bottommargin">

                                <div class="team">
                                    <div class="team-image">
                                        <img src="~/Content/images/ekips/zynpogk.jpg" alt="Murat Uysal">
                                        <div class="team-overlay">
                                            <div class="team-social-icons">
                                                <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                                                    <i class="icon-twitter"></i>
                                                    <i class="icon-twitter"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-vimeo" title="Vimeo">
                                                    <i class="icon-vimeo"></i>
                                                    <i class="icon-vimeo"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-instagram" title="Instagram">
                                                    <i class="icon-instagram"></i>
                                                    <i class="icon-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-desc team-desc-bg">
                                        <div class="team-title"><h4>Murat Uysal</h4><span>Software Tester</span></div>
                                    </div>
                                </div>

                            </div>


                            <div class="col-sm-3 bottommargin">

                                <div class="team">
                                    <div class="team-image">
                                        <img src="~/Content/images/ekips/senem.jpeg" alt="Senem Özmen">
                                        <div class="team-overlay">
                                            <div class="team-social-icons">
                                                <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                                                    <i class="icon-twitter"></i>
                                                    <i class="icon-twitter"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-linkedin" title="LinkedIn">
                                                    <i class="icon-linkedin"></i>
                                                    <i class="icon-linkedin"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-small si-flickr" title="Flickr">
                                                    <i class="icon-flickr"></i>
                                                    <i class="icon-flickr"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-desc team-desc-bg">
                                        <div class="team-title"><h4>Senem Özmen</h4><span>Software Tester</span></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <hr>
                    </div>




                </div>

                <!-- <div id="section-works" class="page-section notoppadding">

                    <div class="section nomargin">
                        <div class="container clearfix">
                            <div class="divcenter center" style="max-width: 900px;">
                                <h2 class="nobottommargin t300 ls1">We create &amp; craft projects that ooze creativity in every aspect. We try to create a benchmark in everything we do. Take a moment to browse through some of our recent completed work.</h2>
                            </div>
                        </div>
                    </div> -->
                <!-- Portfolio Items
                ============================================= -->
                <!-- <div id="portfolio" class="portfolio-nomargin portfolio-full portfolio-masonry mixed-masonry clearfix">

                    <article class="portfolio-item pf-media pf-icons wide">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="~/Content/js/images/portfolio/mixed/1.jpg" alt="Open Imagination">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#">Open Imagination</a></h3>
                                    <span><a href="#">Media</a>, <a href="#">Icons</a></span>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-illustrations">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="~/Content/js/images/portfolio/mixed/2.jpg" alt="Locked Steel Gate">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#">Locked Steel Gate</a></h3>
                                    <span><a href="#">Illustrations</a></span>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-graphics pf-uielements">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="~/Content/js/images/portfolio/mixed/3.jpg" alt="Mac Sunglasses">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#">Mac Sunglasses</a></h3>
                                    <span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons wide">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="~/Content/js/images/portfolio/mixed/4.jpg" alt="Open Imagination">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#">Open Imagination</a></h3>
                                    <span><a href="#">Media</a>, <a href="#">Icons</a></span>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-uielements pf-media wide">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="~/Content/js/images/portfolio/mixed/5.jpg" alt="Console Activity">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#">Console Activity</a></h3>
                                    <span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="~/Content/js/images/portfolio/mixed/6.jpg" alt="Open Imagination">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#">Open Imagination</a></h3>
                                    <span><a href="#">Media</a>, <a href="#">Icons</a></span>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-uielements pf-icons">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="~/Content/js/images/portfolio/mixed/7.jpg" alt="Backpack Contents">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#">Backpack Contents</a></h3>
                                    <span><a href="#">UI Elements</a>, <a href="#">Icons</a></span>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>#portfolio end -->
                <!-- <div class="topmargin center"><a href="#" class="button button-border button-circle t600">View More Projects</a></div> -->

            </div>

            <div id="section-services" class="page-section notoppadding">

                <div class="section nomargin">
                    <div class="container clearfix">
                        <div class="divcenter center" style="max-width: 900px;">
                            <h2 class="nobottommargin t300 ls1"> BURAYA YAZI </h2>
                        </div>
                    </div>
                </div>

                <div class="common-height clearfix">

                    <div class="col-md-12">
                        <div class="max-height">
                            <div class="row common-height grid-border clearfix">
                                <div class="col-md-4 col-sm-6 col-padding">
                                    <div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-et-mobile"></i></a>
                                        </div>
                                        <h3>Gönüllü Uzmanlar</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-padding">
                                    <div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-et-presentation"></i></a>
                                        </div>
                                        <h3>4 Gün İçerİsİnde Dönüş</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-padding">
                                    <div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-et-puzzle"></i></a>
                                        </div>
                                        <h3>Ön Hasar Tespİt</h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="section dark nomargin">
                    <div class="divcenter center" style="max-width: 900px;">
                        <h2 class="nobottommargin t300 ls1">Bize Talep Gönderin <a href="http://app.depremsizhayat.com" target="_blank" data-offset="140" data-easing="easeInOutExpo" data-speed="1250" class="button button-border button-circle button-light button-large notopmargin nobottommargin" style="position: relative; top: -3px;">Talep Oluştur</a></h2>
                    </div>
                </div>


            </div>

            <!-- <div id="section-blog" class="page-section">

                <h2 class="center uppercase t300 ls3 font-body">Recently From the Blog</h2>

                <div class="section nobottommargin">
                    <div class="container clearfix">

                        <div class="row topmargin clearfix">

                            <div class="ipost col-sm-6 bottommargin clearfix">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="entry-image nobottommargin">
                                            <a href="#"><img src="~/Content/js/images/blog/1.jpg" alt="Paris"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top: 20px;">
                                        <span class="before-heading" style="font-style: normal;">Press &amp; Media</span>
                                        <div class="entry-title">
                                            <h3 class="t400" style="font-size: 22px;"><a href="#">Global Meetup Program is Launching!</a></h3>
                                        </div>
                                        <div class="entry-content">
                                            <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ipost col-sm-6 bottommargin clearfix">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="entry-image nobottommargin">
                                            <a href="#"><img src="~/Content/js/images/blog/2.jpg" alt="Paris"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top: 20px;">
                                        <span class="before-heading" style="font-style: normal;">Inside Scoops</span>
                                        <div class="entry-title">
                                            <h3 class="t400" style="font-size: 22px;"><a href="#">The New YouTube Economy unfolds itself</a></h3>
                                        </div>
                                        <div class="entry-content">
                                            <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ipost col-sm-6 bottommargin clearfix">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="entry-image nobottommargin">
                                            <a href="#"><img src="~/Content/js/images/blog/3.jpg" alt="Paris"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top: 20px;">
                                        <span class="before-heading" style="font-style: normal;">Video Blog</span>
                                        <div class="entry-title">
                                            <h3 class="t400" style="font-size: 22px;"><a href="#">Kicking Off Design Party in Style</a></h3>
                                        </div>
                                        <div class="entry-content">
                                            <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ipost col-sm-6 bottommargin clearfix">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="entry-image nobottommargin">
                                            <a href="#"><img src="~/Content/js/images/blog/4.jpg" alt="Paris"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top: 20px;">
                                        <span class="before-heading" style="font-style: normal;">Inspiration</span>
                                        <div class="entry-title">
                                            <h3 class="t400" style="font-size: 22px;"><a href="#">Top Ten Signs You're a Designer</a></h3>
                                        </div>
                                        <div class="entry-content">
                                            <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>



            </div> -->

            <div id="section-contact" class="page-section notoppadding">


                <div class="container clearfix">

                    <div class="divcenter topmargin" style="max-width: 850px;">

                        <div id="contact-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>

                        <form class="nobottommargin" id="template-contactform" name="template-contactform" action="/Home/SendMail" method="post">

                            <div class="form-process"></div>

                            <div class="col_half">
                                <input type="text" id="template-contactform-name" name="name" value="" class="sm-form-control border-form-control required" placeholder="Ad" />
                            </div>
                            <div class="col_half col_last">
                                <input type="email" id="template-contactform-email" name="mail" value="" class="required email sm-form-control border-form-control" placeholder="E-Mail Adresiniz" />
                            </div>

                            <div class="clear"></div>

                            <div class="col_one_third">
                                <input type="text" id="template-contactform-phone" name="phone" value="" class="sm-form-control border-form-control" placeholder="Telefon" />
                            </div>

                            <div class="col_two_third col_last">
                                <input type="text" id="template-contactform-subject" name="subject" value="" class="required sm-form-control border-form-control" placeholder="Konu" />
                            </div>

                            <div class="clear"></div>

                            <div class="col_full">
                                <textarea class="required sm-form-control border-form-control" id="message" name="template-contactform-message" rows="7" cols="30" placeholder="Mesajınız"></textarea>
                            </div>

                            <div class="col_full center">
                                <button class="button button-border button-circle t500 noleftmargin topmargin-sm" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">İletişime Geçin</button>
                                <br>
                                <!-- <small style="display: block; font-size: 13px; margin-top: 15px;">We'll do our best to get back to you within 6-8 working hours.</small> -->
                            </div>

                            <div class="clear"></div>

                            <div class="col_full hidden">
                                <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                            </div>

                        </form>

                    </div>

                </div>

            </div>

    </div>

    </section><!-- #content end -->
    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark noborder">

        <div class="container center">
            <div class="footer-widgets-wrap">

                <div class="row divcenter clearfix">

                    <div class="col-md-12">

                        <div class="widget clearfix">
                            <h4>Sİte Lİnklerİ</h4>

                            <ul class="list-unstyled footer-site-links nobottommargin">
                                <li><a href="#" data-scrollto="#wrapper" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">En Başa Dön</a></li>
                                <li><a href="#" data-scrollto="#section-services" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Biz Kimiz</a></li>
                                <li><a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Ekibimiz</a></li>
                                <li><a href="http://app.depremsizhayat.com" target="_blank">Ücretsiz Depremsiz Analizi</a></li>
                                <li><a href="#" data-scrollto="#section-contact" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Bizim İletişime Geçin</a></li>
                            </ul>
                        </div>

                    </div>

                    <!-- <div class="col-md-4">

                        <div class="widget clearfix">
                            <h4>Takip Et</h4>

                            <div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
                            <form id="widget-subscribe-form" action="../include/subscribe.php" role="form" method="post" class="nobottommargin">
                                <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control input-lg not-dark required email" placeholder="Your Email Address">
                                <button class="button button-border button-circle button-light topmargin-sm" type="submit">Subscribe Now</button>
                            </form>
                        </div>

                    </div> -->
                    <!-- <div class="col-md-6">

                        <div class="widget clearfix">
                            <h4>Contact</h4>

                            <p class="lead">545 Sokak No:41 Kat:2 Akıncılar Mahallesi / Buca / İZMİR</p>

                            <div class="center topmargin-sm">
                                <a href="#" class="social-icon inline-block noborder si-small si-facebook" title="Facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon inline-block noborder si-small si-twitter" title="Twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="#" class="social-icon inline-block noborder si-small si-github" title="Github">
                                    <i class="icon-github"></i>
                                    <i class="icon-github"></i>
                                </a>
                                <a href="#" class="social-icon inline-block noborder si-small si-pinterest" title="Pinterest">
                                    <i class="icon-pinterest"></i>
                                    <i class="icon-pinterest"></i>
                                </a>
                            </div>
                        </div>

                    </div> -->

                </div>

            </div>
        </div>

        <div id="copyrights">
            <div class="container center clearfix">
                Copyright<sup>©</sup> Depremsiz Hayat 2021 | Tüm Hakları Saklıdır
            </div>
        </div>

    </footer><!-- #footer end -->
    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins.js"></script>

    @*<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>*@
    <script type="text/javascript" src="~/Content/js/jquery.gmap.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="~/Content/js/functions.js"></script>

    <script type="text/javascript">

		// Portfolio Script
		jQuery(window).load(function(){

			var jQuerycontainer = jQuery('#portfolio');
			jQuerycontainer.isotope({
				transitionDuration: '0.65s',
				masonry: {
					columnWidth: jQuerycontainer.find('.portfolio-item:not(.wide)')[0]
				}
			});
			jQuery(window).resize(function() {
				jQuerycontainer.isotope('layout');
				SEMICOLON.portfolio.portfolioDescMargin();
			});
			var t = setTimeout(function(){ SEMICOLON.portfolio.portfolioDescMargin(); }, 200);

			// Google Map
			jQuery('#headquarters-map').gMap({
				address: 'Melbourne, Australia',
				maptype: 'ROADMAP',
				zoom: 14,
				markers: [
					{
						address: "Melbourne, Australia",
						html: "Melbourne, Australia",
						icon: {
							image: "~/Content/js/images/icons/map-icon-red.png",
							iconsize: [32, 32],
							iconanchor: [14,44]
						}
					}
				],
				doubleclickzoom: false,
				controls: {
					panControl: false,
					zoomControl: false,
					mapTypeControl: false,
					scaleControl: false,
					streetViewControl: false,
					overviewMapControl: false
				},
				styles: [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"administrative","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"administrative.country","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.country","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.country","elementType":"labels.text","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"all","stylers":[{"visibility":"simplified"},{"saturation":"-100"},{"lightness":"30"}]},{"featureType":"administrative.neighborhood","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.land_parcel","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"visibility":"simplified"},{"gamma":"0.00"},{"lightness":"74"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"lightness":"3"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]
			});

		});

		// Owl Carousel
		jQuery(document).ready(function($) {

			var ocClients = $("#oc-clients");
			ocClients.owlCarousel({
				margin: 80,
				loop: true,
				nav: false,
				autoplay: true,
				dots: false,
				autoplayHoverPause: true,
				responsive:{
					0:{ items:2 },
					480:{ items:3 },
					768:{ items:4 },
					992:{ items:5 },
					1200:{ items:6 }
				}
			});

		});

		// Contact Form
		$("#template-contactform").validate({
				submitHandler: function(form) {
					$('.form-process').fadeIn();
					$(form).ajaxSubmit({
						target: '#contact-form-result',
						success: function() {
							$('.form-process').fadeOut();
							$(form).find('.sm-form-control').val('');
							$('#contact-form-result').attr('data-notify-msg', $('#contact-form-result').html()).html('');
							SEMICOLON.widget.notifications($('#contact-form-result'));
						}
					});
				}
			});

			// Widget Subscribe Form
			$("#widget-subscribe-form").validate({
				submitHandler: function(form) {
					$(form).find('.input-group-addon').find('.icon-email2').removeClass('icon-email2').addClass('icon-line-loader icon-spin');
					$(form).ajaxSubmit({
						target: '#widget-subscribe-form-result',
						success: function() {
							$(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
							$('#widget-subscribe-form').find('.form-control').val('');
							$('#widget-subscribe-form-result').attr('data-notify-msg', $('#widget-subscribe-form-result').html()).html('');
							SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
						}
					});
				}
			});

			function danger(level){
        let dangerLevel = Math.min(Math.max(parseInt((1+(5-1)*(level-0)/(8-0))),1),5)
        return `<span class="danger-level level-${dangerLevel}"><div></div><div></div><div></div><div></div><div></div></span>`
    }
    let miniHeader = "<tr><th>Büyüklük</th><th>Lokasyon ve Tarih</th></tr>"
    let bigHeader = "<tr><th>Büyüklük</th><th>Lokasyon</th><th>Tarih</th></tr>"


    var screen = window.matchMedia("(max-width: 500px)")
    getLastEarthquakes(screen)
    screen.addListener(getLastEarthquakes)
    setInterval(function(){getLastEarthquakes(screen)},60000);


    function getLastEarthquakes(screen){
        let spinner = document.querySelector("#last-earthquakes .spinner")
        let table = document.querySelector(".earthquakes-table")
        let tableHead = document.querySelector(".earthquakes-table>thead")
        let tableBody = document.querySelector(".earthquakes-table>tbody")

        spinner.classList.remove("hidden")
        table.classList.add("hidden")
        Array.from(tableBody.children).forEach(item=>item.remove())

        $.ajax({
        url: "https://api.orhanaydogdu.com.tr/deprem/live.php?limit=10",
        type: "POST",
        success: function (data) {
            spinner.classList.add("hidden")
            table.classList.remove("hidden")
                if(screen.matches){
                    tableHead.innerHTML = miniHeader
                    let dates = Array.from(data.result).map(({date}) => ({date}))
                    let datas = Array.from(data.result).map(({mag,lokasyon}) => ({mag,lokasyon}))
                    let counter = 0
                    datas.forEach(item => {
                    let tr = document.createElement("tr")
                    Object.entries(item).forEach(([keys,values]) => {
                        let td = document.createElement("td")
                        if(keys == "mag") td.innerHTML = danger(values) + values.toFixed(1)
                        else td.innerHTML = (values.length <= 30 ? values : values.substring(0,25) + "...") + `<div>${dates[counter++].date}</div>`
                        tr.appendChild(td)
                    })
                    tableBody.appendChild(tr)
                    })
                    lcounter = 0
                }else{
                    tableHead.innerHTML = bigHeader
                    let datas = Array.from(data.result).map(({mag,lokasyon,date}) => ({mag,lokasyon,date}))
                    datas.forEach(item => {
                    let tr = document.createElement("tr")
                    Object.entries(item).forEach(([keys,values]) => {
                        let td = document.createElement("td")
                        if(keys == "mag") td.innerHTML = danger(values) + values.toFixed(1)
                        else td.innerHTML = values
                        tr.appendChild(td)
                    })
                    tableBody.appendChild(tr)
                    })
                }
            }
        })
    }

    </script>

    </script><!-- Portfolio Script End -->

</body>
</html>