@using DepremsizHayat.DTO.Admin;
@model List<AnalyseRequest>
@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Panel/Shared/Layout_.cshtml";
}
<br>
<br>
<script src="~/Content/js/CheckBox.js"></script>
<script src="~/Content/js/prompt.js"></script>
<div class="card-body">
    <ro-checkbox group="request" toggle></ro-checkbox>Tümünü Seç
    <div style="width:auto; overflow-x:scroll">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Seç</th>
                    <th>Ad Soyad</th>
                    <th>Adres</th>
                    <th>Bina</th>                   
                    <th>Durum</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody id="requestsTable">
            </tbody>
        </table>
    </div>

    <script src="~/Content/js/requestControl.js"></script>

    <button type="button" id="allow">Onayla</button>
    <button type="button" id="deny">Reddet</button>
    <script>
        document.querySelector("#allow").addEventListener("click", function () { execute("AllowRequests") })
        document.querySelector("#deny").addEventListener("click", function () { execute("DenyRequests") })
        function execute(action) {
            var model = { idList: checkBoxProperties.getAllValue("request") }
            $.ajax({
                url: action,
                type: 'POST',
                data: model,
                dataType: 'json',
                success: function (data) {
                    location.reload()
                },
                error: function (error) {

                }
            })
        }
    </script>
    @Html.Partial("Shared/_StatusPartial")

</div>


