@using DepremsizHayat.DTO.Admin;
@model List<AnalyseRequest>
@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Panel/Shared/Layout_.cshtml";
}
<script src="~/Content/js/CheckBox.js"></script>
<script src="~/Content/js/prompt.js"></script>

<section class="content mt-2">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Talep Listesi</h3>
                </div>
                <div class="card-body">
                    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <div style="display:flex;margin-bottom:10px;"><ro-checkbox group="request" toggle></ro-checkbox>Tümünü Seç</div>
                                <div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Seç</th>
                                                <th>Ad Soyad</th>
                                                <th>Adres</th>
                                                <th>Bina</th>
                                                <th>Durum</th>
                                                <th>Detay</th>
                                            </tr>
                                        </thead>
                                        <tbody id="requestsTable">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example2_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                        <button type="button" id="allow" class="btn btn-success">Seçilenleri Onayla</button>
                        <button type="button" id="deny" class="btn btn-danger">Seçilenleri Reddet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/js/requestControl.js"></script>


<script>
    document.querySelector("#allow").addEventListener("click", function () { execute("AllowRequests") })
    document.querySelector("#deny").addEventListener("click", function () { execute("DenyRequests") })
    function execute(action) {
        var model = { idList: checkBoxProperties.getAllValue("request") }
        $.ajax({
            url: action,
            type: 'POST',
            data: model,
            dataType: 'json',
            success: function (data) {
                location.reload()
            },
            error: function (error) {

            }
        })
    }
</script>
@Html.Partial("Shared/_StatusPartial")

